/*Custom Styles - Sai Goutham*/
/*Making Bg pic bigger*/
.pic-bg{
	display: none;
}

/*Resume - Print Button*/
.print{
	text-align: right;
	margin-top:5px;
}

.print a{
	color: #aaaaaa;
}

/*Contact form*/
.fa-phone+a, .fa-envelope+a{
	color: #aaaaaa;
}

/*Footer- social-icon styling*/
.fa-facebook{
	color: #02308b;
}
.fa-twitter{
	color: #55acee;
}
.fa-linkedin{
	color:#1c87bd;
}
.fa-pinterest{
	color:#cb2027;
}
.fa-google-plus{
	color:#d73d32;
}
.fa-github{
	color:#323131;
}
.fa-stack-overflow{
	color: #fd8a07;
}